
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v5.9.17, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.9.17, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/photo-1613963931023-5dc59437c8a6.jpeg" type="image/x-icon">
    <meta name="description" content="Finding reliable service providers such as plumbers, electricians, tutors, and cleaners has long been a challenge for consumers. Developing an app that connects local service providers with consumers streamlines access to essential services, promotes convenience and efficiency in service delivery.">


    <title>Local Service Connect</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/parallax/jarallax.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=sSf5K7">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=sSf5K7" type="text/css">


</head>
<body>

    <section data-bs-version="5.1" class="header18 cid-uadY7astSj mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/f1HVVf_cPm4?autoplay=1&amp;loop=1&amp;playlist=f1HVVf_cPm4&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-uadY7astSj">

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-12">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                        <strong>LOCALink</strong>
                    </h1>

                    <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Empowering Your Community by Connecting You with Reliable Local Service Providers at Your Fingertips!</p>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="article15 cid-uadY7asi4M" id="about-us-15-uadY7asi4M">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md">

                    <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-5">
                        <strong>Revolutionizing the Way You Find and Book Local Services Instantly!</strong>
                    </h6>
                </div>
                <div class="col-md-12 col-lg-6">
                    <p class="mbr-text mbr-fonts-style display-7">Tired of endless searches for plumbers, electricians, tutors, or cleaners? Say goodbye to the hassle!</p>
                    <p class="mbr-text mbr-fonts-style display-7">ServiLink is your go-to app for seamless connections between service providers and consumers.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Experience the future of service delivery with just a few taps on your device.</p>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="people03 cid-uadY7as3c7" id="team-1-uadY7as3c7">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Meet Us</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/427711099_1287159432686634_3947921874142247345_n.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Ian Lyle</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Hispter</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/327902782_5881112508670425_939493048084412230_n.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Angel Dorie</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Team Leader</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/430007298_1800677873731182_1481824453091159984_n.png" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Caliel James</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Hacker</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/431791036_1505998206648976_5915917117067055049_n.jpg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>James Kharl</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Hustler</h6>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features03 cid-uadY7asHJS" id="news-1-uadY7asHJS">


        <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Latest Buzz</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3 active">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/photo-1517048676732-d65bc937f952.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                                <strong>New Feature Alert: Instant Booking Now Available!</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 17, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Say goodbye to waiting! You can now book services instantly with our latest update.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/photo-1521791136064-7986c2920216.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Community Spotlight: Meet Our Top Service Providers!</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 16, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Get to know the faces behind the exceptional services in your neighborhood.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/photo-1518135714426-c18f5ffb6f4d.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Service Provider Showcase: Exceptional Talent at Your Doorstep!</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 15, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Discover the extraordinary skills and dedication of our local service providers.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/photo-1636363407089-16874826db3b.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Customer Stories: Real Experiences, Real Satisfaction!</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 14, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Read heartwarming tales of customers who found their service superheroes through ServiLink.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="pricing1 cid-uadY7asd5y" id="pricing-cards-1-uadY7asd5y">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Service Connect</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb active">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Basic</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$9</strong>/day
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Get connected with local service providers for a day.</p>
                        </div>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Standard</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$29</strong>/day
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Unlock more features and book services hassle-free.</p>
                        </div>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Premium</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$49</strong>/day
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Access exclusive service providers and enjoy VIP treatment.</p>
                        </div>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Ultimate</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$99</strong>/day
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Experience luxury services with a personal concierge at your fingertips.</p>
                        </div>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features38 cid-uadY7asnrj" id="features-28-uadY7asnrj">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                            <strong>Instant Booking</strong>
                        </h1>
                        <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Book services with a single tap and get instant confirmation.</p>

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="assets/images/photo-1617080090911-91409e3496ad.jpeg" alt="Mobirise Website Builder">
                </div>
            </div>
            <div class="row row-reverse justify-content-center">
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                            <strong>Local Providers</strong>
                        </h1>
                        <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Connect with trusted local workers who understand your community.</p>

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="assets/images/photo-1517245386807-bb43f82c33c4.jpeg" alt="Mobirise Website Builder">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                            <strong>VIP Treatment</strong>
                        </h1>
                        <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Enjoy priority scheduling and exclusive perks as a premium member.</p>

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="assets/images/photo-1519389950473-47ba0277781c.jpeg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="gallery07 cid-uadY7as4gy" id="gallery-16-uadY7as4gy">


        <div class="container-fluid gallery-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Service Providers Near You</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
                    <div class="grid-item">
                        <img src="assets/images/photo-1516321497487-e288fb19713f.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="grid-item">
                        <img src="assets/images/photo-1503551723145-6c040742065b-v2.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="grid-item">
                        <img src="assets/images/photo-1504805572947-34fad45aed93.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="grid-item">
                        <img src="assets/images/photo-1450101499163-c8848c66ca85.jpeg" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="people04 cid-uadY7atCeG" id="testimonials-4-uadY7atCeG">


        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-12 mb-0 content-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Rave</strong>
                    </h3>

                </div>
            </div>
            <div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
                <div class="item features-without-image col-12 col-md-6 col-lg-4 active">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <p class="card-text mbr-fonts-style display-7">I found the best plumber in town through this app! Quick and reliable service.</p>
                            <div class="img-wrapper mt-4 mb-3">
                                <img src="assets/images/photo-1694026307715-0d3709e69adf.jpeg" data-slide-to="0" data-bs-slide-to="0" alt="">
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7">
                                <strong>John Smith</strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <p class="card-text mbr-fonts-style display-7">The app made it so easy to hire a tutor for my kids. Highly recommend it!</p>
                            <div class="img-wrapper mt-4 mb-3">
                                <img src="assets/images/photo-1589156191108-c762ff4b96ab.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7">
                                <strong>Emily Johnson</strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <p class="card-text mbr-fonts-style display-7">My cleaner from the app is a lifesaver! Professional and thorough every time.</p>
                            <div class="img-wrapper mt-4 mb-3">
                                <img src="assets/images/photo-1681075401974-907cc62a4373.jpeg" data-slide-to="5" data-bs-slide-to="5" alt="">
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7">
                                <strong>Sophia Lee</strong>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="article14 cid-uadY7atgYi" id="generic-text-10-uadY7atgYi">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style display-2">
                        <strong>Welcome to Service Connect, where your service needs meet local expertise! Say goodbye to the hassle of finding reliable plumbers, electricians, tutors, and cleaners. With our app, booking services is as easy as a tap away. Whether you need a quick fix or a VIP treatment, we've got you covered. Join us today and experience a new level of convenience and efficiency in service delivery.</strong>
                    </h3>

                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="list05 cid-uadY7atkVj" id="faq-3-uadY7atkVj">

        <div class="container">
            <div class="col-12 mb-5 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Got Questions? We Have Answers!</strong>
                </h3>

            </div>
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-8">
                    <div class="item features-without-image col-12 active">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>How does it work?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Our innovative app connects you with local service providers in a snap. Simply book a service, and watch the magic happen!</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Why choose us?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Say goodbye to endless searches for reliable plumbers, electricians, tutors, and cleaners. We've got you covered with top-notch professionals at your fingertips.</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>What makes us unique?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">We're not just a service app; we're matchmakers for your home needs. Connect with local workers who are ready to ace your job with a smile!</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Need help?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Our support team is here 24/7 to ensure your experience is smooth sailing. Reach out anytime, and we'll be there to assist you!</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Ready to get started?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Don't wait! Join the revolution of hassle-free service bookings today and experience the future of home services!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="header12 cid-uadY7atlaz" id="call-to-action-8-uadY7atlaz">



        <div class="text-center container">
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-md-4">
                    <img src="assets/images/photo-1504384308090-c894fdcc538d.jpeg" alt="Mobirise Website Builder">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 content-head">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Book Now for Instant Service!</strong>
                    </h1>
                    <p class="mbr-text mbr-fonts-style mb-4 display-7">Get connected with local pros in seconds. Say goodbye to service headaches!</p>
                    <div class="mbr-section-btn mt-4">
                        <a class="btn btn-primary display-7" href="https://mobiri.se">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="image02 cid-uadY7atNFq mbr-fullscreen mbr-parallax-background" id="image-13-uadY7atNFq">


        <div class="container">
            <div class="row"></div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features10 cid-uadY7atOsr" id="metrics-2-uadY7atOsr">



        <div class="container">

            <div class="row justify-content-center">
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>100K+</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Happy Customers</p>

                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>95%</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Service Satisfaction</p>

                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>24/7</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Support Availability</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="social05 cid-uadY7atkFU" id="follow-us-2-uadY7atkFU">


        <div class="container">
            <div class="row">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Join Our Community Today!</strong>
                </h3>
                <div class="col-12">
                    <div class="social-row">
                        <div class="soc-item">
                            <a href="https://mobiri.se/" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://mobiri.se/" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://mobiri.se/" target="_blank">
                                <span class="mbr-iconfont socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://mobiri.se/" target="_blank">
                                <span class="mbr-iconfont socicon socicon-linkedin"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://mobiri.se/" target="_blank">
                                <span class="mbr-iconfont socicon socicon-twitch"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="clients04 cid-uadY7atwK1" id="clients-4-uadY7atwK1">


        <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Local Service Connection App</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="assets/images/photo-1529612700005-e35377bf1415.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="assets/images/photo-1646825461394-ebd1800141d1.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="assets/images/photo-1579041925709-798d7d0fed1d.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="assets/images/photo-1651044450619-5ce74d316987.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="form5 cid-uadY7auWZ4" id="contact-form-2-uadY7auWZ4">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Get in Touch</strong>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <input type="hidden" name="email" data-form-email="true" value="YtrKKR2Hezea0V+2/Z4XlMAkZCnaNtvOFvRctH4DqZBnakqCXFE7/+QqIMnDpWA6teUSk6skmHU3oPJvuYFpyd3umdoTVCvOoioOoc0kc9yiWvibfKvcSq4KaZ6eDxzr">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-2-uadY7auWZ4">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-2-uadY7auWZ4">
                            </div>
                            <div class="col-12 form-group mb-3" data-for="textarea">
                                <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-2-uadY7auWZ4"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-7">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="contacts02 map1 cid-uadY7auKWI" id="contacts-2-uadY7auKWI">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Contact Us</strong>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card col-12 col-md-12 col-lg-6">
                    <div class="card-wrapper">
                        <div class="text-wrapper">

                            <ul class="list mbr-fonts-style display-7">
                                <li class="mbr-text item-wrap">
                                    Phone:
                                    <a href="tel:123-456-7890" class="text-black">123-456-7890</a>
                                </li>
                                <li class="mbr-text item-wrap">
                                    WhatsApp:
                                    <a href="tel:123-456-7890" class="text-black">123-456-7890</a>
                                </li>
                                <li class="mbr-text item-wrap">
                                    Email:
                                    <a href="mailto:contact@localserviceapp.com" class="text-black">contact@localserviceapp.com</a>
                                </li>
                                <li class="mbr-text item-wrap">
                                    Address:
                                    San Juan Philippines
                                </li>
                                <li class="mbr-text item-wrap">
                                    Working Hours:
                                    Mon-Fri: 9am-5pm
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="map-wrapper col-md-12 col-lg-6">
                    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen=""></iframe></div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="footer3 cid-uadY7auwbu" once="footers" id="footer-6-uadY7auwbu">


        <div class="container">
            <div class="row">
                <div class="row-links">
                    <ul class="header-menu">




                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Home</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Services</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">About</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 mt-4">
                    <p class="mbr-fonts-style copyright display-7">© 2024 Local Service Connection App. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="https://mobiri.se/3192167" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/no-code-website-builder.html">No Code Website Builder</a></section>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/parallax/jarallax.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/vimeoplayer/player.js"></script>
    <script src="assets/scrollgallery/scroll-gallery.js"></script>
    <script src="assets/masonry/masonry.pkgd.min.js"></script>
    <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <script src="assets/formoid/formoid.min.js"></script>


</body>
</html>

